@page
@model IndexModel
<div class="s-slide-1">
    <div class="b-nslide-ratio">
        <div class="nivoSlider">
            <img src="./uploads/images/2022/08/1659427145-single_banner26-hotromodailysonsieuthison.jpg"
                alt="Hỗ trợ mở đại lý sơn, siêu thị sơn" />
            <img src="./uploads/images/2022/08/1659428391-single_banner26-flashsalesonjotunsonbaymau.jpg"
                alt="Siêu Khuyến Mãi - Giảm giá 50% mọi sản phẩm" />
            <img src="./uploads/images/2021/01/1611559387-single_banner26-soncongnghiepevent.jpg"
                alt="Nhà cung cấp sơn công nghiệp #1" />
            <img src="./uploads/images/2022/08/1659428404-single_banner26-baogiathicongson.jpg"
                alt="Cập nhật giá nhân công thi công sơn" />
            <img src="./uploads/images/2021/10/1634131141-single_banner26-chuongtrinhsonjotunxuankhoisac.jpg"
                alt="Chương trình " Sơn Jotun - Xuân Khởi Sắc" " />
        </div>
    </div>
    <div class=" s_main">
            <div class="b-nslide-ratio">
                <div class="nivoSlider">
                    <a href="https://#ho-tro-mo-dai-ly-son--sieu-thi-son-77-25.html" target="_blank"><img
                            src="./uploads/images/2022/08/1659427145-single_banner26-hotromodailysonsieuthison.jpg"
                            alt="Hỗ trợ mở đại lý sơn, siêu thị sơn" /></a>
                    <a href="https://#bang-bao-gia-son-jotun-trang-tri-moi-cap-nhat-7-25.html" target="_blank"><img
                            src="./uploads/images/2022/08/1659428391-single_banner26-flashsalesonjotunsonbaymau.jpg"
                            alt="Siêu Khuyến Mãi - Giảm giá 50% mọi sản phẩm" /></a>
                    <a href="https://#bang-gia-son-epoxy-jotun-son-cong-nghiep-jotun-41-25.html"
                        target="_blank"><img
                            src="./uploads/images/2021/01/1611559387-single_banner26-soncongnghiepevent.jpg"
                            alt="Nhà cung cấp sơn công nghiệp #1" /></a>
                    <a href="https://#dich-vu-son-nha-gia-re-tai-tp-hcm-23-25.html" target="_blank"><img
                            src="./uploads/images/2022/08/1659428404-single_banner26-baogiathicongson.jpg"
                            alt="Cập nhật giá nhân công thi công sơn" /></a>
                    <a href="https://#chuong-trinh-son-jotun-xuan-khoi-sac-76-25.html" target="_blank"><img
                            src="./uploads/images/2021/10/1634131141-single_banner26-chuongtrinhsonjotunxuankhoisac.jpg"
                            alt="Chương trình " Sơn Jotun - Xuân Khởi Sắc" " /></a>
                                </div>
        </div>
    </div>
    <div class=" s_caption">
                        <div class="item">
                            <h2><a target="_blank" href="https://#ho-tro-mo-dai-ly-son--sieu-thi-son-77-25.html">Hỗ
                                    trợ mở đại lý sơn, siêu thị sơn</a></h2>
                            <p>Siêu thị sơn và đại lý sơn đang là nhu cầu của rất nhiều nhà đầu tư muốn có một môi
                                trường kinh doanh cạnh tranh công bằng, lợi thế về mặt bằng và vốn. Sơn Bảy Màu hỗ
                                trợ mở đại lý sơn và siêu thị sơn trên toàn quốc. </p>
                            <a target="_blank" href="https://#ho-tro-mo-dai-ly-son--sieu-thi-son-77-25.html"
                                class="c-btn c-button-6"><i class="fa fa-heart" aria-hidden="true"></i>Chi tiết</a>
                            <div><span>Sơn Bảy Màu</span></div>
                        </div>
                        <div class="item">
                            <h2><a target="_blank"
                                    href="https://#bang-bao-gia-son-jotun-trang-tri-moi-cap-nhat-7-25.html">Siêu
                                    Khuyến Mãi - Giảm giá 50% mọi sản phẩm</a></h2>
                            <p>Siêu khuyến mãi - Từ 25/8/2022 đến 30/10/2022 - Sơn Bảy Màu áp dụng siêu khuyến mãi
                                mọi mặt hàng được chiết khấu 50% trên giá niêm yết của hãng sản xuất !!! Liên hệ
                                Hotline đặt hàng ngay hôm nay nhé !</p>
                            <a target="_blank"
                                href="https://#bang-bao-gia-son-jotun-trang-tri-moi-cap-nhat-7-25.html"
                                class="c-btn c-button-6"><i class="fa fa-heart" aria-hidden="true"></i>Chi tiết</a>
                            <div><span>Sơn Bảy Màu</span></div>
                        </div>
                        <div class="item">
                            <h2><a target="_blank"
                                    href="https://#bang-gia-son-epoxy-jotun-son-cong-nghiep-jotun-41-25.html">Nhà
                                    cung cấp sơn công nghiệp #1</a></h2>
                            <p>Sơn công nghiệp do Sơn Bảy Màu cung cấp có sẵn, do nhà máy sản xuất trực tiếp và giao
                                hàng ngay khi đặt hàng. Luôn báo giá cạnh tranh và tốt nhất cho các nhu cầu về sơn
                                công nghiệp. </p>
                            <a target="_blank"
                                href="https://#bang-gia-son-epoxy-jotun-son-cong-nghiep-jotun-41-25.html"
                                class="c-btn c-button-6"><i class="fa fa-heart" aria-hidden="true"></i>Chi tiết</a>
                            <div><span>Sơn Bảy Màu</span></div>
                        </div>
                        <div class="item">
                            <h2><a target="_blank" href="https://#dich-vu-son-nha-gia-re-tai-tp-hcm-23-25.html">Cập
                                    nhật giá nhân công thi công sơn</a></h2>
                            <p>Nhân công tường cũ trong nhà (1 lót và 2 phủ) : 15.000đ\ m2.
                                Nhân công tường cũ ngoài nhà (1 lót và 2 phủ) : 18.000đ\ m2.
                                Nhân công sơn mới trong nhà (1 lớp lót và 2 phủ) : 13.000đ\ m2.
                                Nhân công sơn mới ngoài nhà (1 lớp lót và 2 phủ) : 15.000đ\ m2.
                                Giá biến động tuỳ bề mặt thi công và chưa có công bả bột</p>
                            <a target="_blank" href="https://#dich-vu-son-nha-gia-re-tai-tp-hcm-23-25.html"
                                class="c-btn c-button-6"><i class="fa fa-heart" aria-hidden="true"></i>Chi tiết</a>
                            <div><span>Sơn Bảy Màu</span></div>
                        </div>
                        <div class="item">
                            <h2><a target="_blank"
                                    href="https://#chuong-trinh-son-jotun-xuan-khoi-sac-76-25.html">Chương trình
                                    "Sơn Jotun - Xuân Khởi Sắc" </a></h2>
                            <p>Chương trình Sơn Jotun - Xuân Khởi Sắc sẽ là chương trình giúp cho chủ nhà, đội thợ,
                                nhà thầu sơn có cơ hội trúng được những giải thưởng siêu hấp dẫn từ hãng sơn Jotun.
                                Thời gian từ 18/10/ 2021- 17/01/2022. Nhanh tay liên hệ ngay Sơn Bảy Màu để được
                                biết thêm chi tiết. </p>
                            <a target="_blank" href="https://#chuong-trinh-son-jotun-xuan-khoi-sac-76-25.html"
                                class="c-btn c-button-6"><i class="fa fa-heart" aria-hidden="true"></i>Chi tiết</a>
                            <div><span>Sơn Bảy Màu</span></div>
                        </div>
                </div>
    </div>
    @if(Model.productType is not null)
    @foreach(var item in Model.productType){
        <div class="s-home-14 ht-pt40">
            <div class="container">
                <div class="c-headline-5">
                    <div class="c_content">
                        <a asp-page="Details">
                            <h2 class="c_name"><i class="fa fa-paint-brush" aria-hidden="true"></i><span>@item</span></h2>
                        </a>
                    </div>
                </div>
                <div class="row row-flex">
                    @foreach (var product in Model.products)
                    {
                        @if (item==product.ProductType)
                        {   
                        <div class="col-lg-2-4 col-6 col-xs-4 col-sm-4 col-md-3">
                            <a asp-page="Details" asp-route-id="@product.Id" class="b-card-8">
                                <div class="b_thumb ht-ratio--100"><img
                                        src="@product.Avatar"
                                        alt="@product.ProductName (@product.Weight @product.Unit)"
                                        class="ht-ratio__img" /></div>
                                <div class="b_percent"><i class="fa fa-circle" aria-hidden="true"></i><span
                                        class="text--white">@product.Promotion<div>%</div>OFF</span></div>
                                <div class="b_content">
                                    <h3 class="b_title">@product.ProductName (@product.Weight @product.Unit)</h3>
                                    <div class="b_price">
                                        <span class="discount">@String.Format("{0:0,0}", product.Price).Replace(",",".")<sup>đ</sup></span>
                                        <span class="market">@String.Format("{0:0,0 đ}", product.Price - product.Price/100*product.Promotion).Replace(",",".")<sup>đ</sup></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
    <div class="s-home-12">
        <div class="container">
            <div class="c-headline-2 ht-fs25">
                <h2 class="c_name">Thi công</h2>
                <div class="c_divider"><img src="images/icons/after.png" alt="after"></div>
            </div>
            <div class="row row-flex">
                <div class="col-md-6">
                    <a asp-page="Details" class="b-card-23">
                        <div class="b_thumb ht-ratio--75"><img
                                src="./uploads/images/2021/01/1611562037-single_news3-optimizedlargethumbstagemini.jpg"
                                alt="/uploads/images/2021/01/1611562037-single_news3-optimizedlargethumbstagemini.jpg"
                                class="ht-ratio__img"></div>
                        <h3 class="b_title">Dịch vụ sơn nhà giá rẻ tại TP.HCM </h3>
                        <h4 class="b_desc text-center">Dịch vụ sơn nhà giá siêu rẻ tại TP.HCM O931778862
                        </h4>
                    </a>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>

    <div class="s-home-17">
        <div class="container">
            <div class="row row-flex">
                <div class="col-md-6">
                    <div class="s_content">
                        <h2 class="s_title">Tại sao nên chọn chúng tôi</h2>
                        <div class="b-card-3">
                            <div class="b_icon"><i class="fa fa-question-circle" aria-hidden="true"></i>
                            </div>
                            <div class="b_content">
                                <h3 class="b_title">Tư vấn chuyên nghiệp</h3>
                                <h4 class="b_desc">Tư vấn tận tình, chuyên nghiệp, nhanh chóng. Đổi trả hàng
                                    miễn phí, nếu có lỗi tư vấn sai từ chúng tôi.</h4>
                            </div>
                        </div>
                        <div class="b-card-3">
                            <div class="b_icon"><i class="fa fa-question-circle" aria-hidden="true"></i>
                            </div>
                            <div class="b_content">
                                <h3 class="b_title">Cam kết hàng chính hãng</h3>
                                <h4 class="b_desc">Chúng tôi cam kết bán hàng chính hãng, 1 đền 10 nếu phát
                                    hiện hàng nhái, hàng giả. Có giấy chứng nhận nhà phân phối của tất cả
                                    hãng sơn</h4>
                            </div>
                        </div>
                        <div class="b-card-3">
                            <div class="b_icon"><i class="fa fa-question-circle" aria-hidden="true"></i>
                            </div>
                            <div class="b_content">
                                <h3 class="b_title">Giao hàng nhanh</h3>
                                <h4 class="b_desc">Dịch vụ giao hàng nhanh trên toàn quốc, miễn phí giao
                                    hàng nội thành HCM. Giao hàng đến tận công trình do khách hàng yêu cầu
                                </h4>
                            </div>
                        </div>
                        <div class="b-card-3">
                            <div class="b_icon"><i class="fa fa-question-circle" aria-hidden="true"></i>
                            </div>
                            <div class="b_content">
                                <h3 class="b_title">Giá cả cạnh tranh</h3>
                                <h4 class="b_desc">Đảm bảo giá tốt nhất thị trường hiện nay, có giá tốt cho
                                    đại lý, cửa hàng. Đặc biệt dự án có số lượng sẽ được hỗ trợ giá tốt +
                                    chương trình khuyến mãi</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="s_form">
                        <h2 class="s_title">Tư vấn & báo giá</h2>
                        <form id="form_s-home-17" action="" method="POST" accept-charset="utf-8"
                            enctype="multipart/form-data">
                            <div class="form-group c-form-border c-form-border--icon">
                                <span class="c_icon"><i class="fa fa-user text--icon"
                                        aria-hidden="true"></i></span>
                                <input type="text" name="fullname" class="c_input" value=""
                                    placeholder="Họ tên (*)">
                            </div>
                            <div class="form-group c-form-border c-form-border--icon">
                                <span class="c_icon"><i class="fa fa-phone text--icon"
                                        aria-hidden="true"></i></span>
                                <input type="text" name="phone" class="c_input" value=""
                                    placeholder="Điện thoại (*)">
                            </div>
                            <div class="form-group c-form-border c-form-border--icon">
                                <span class="c_icon"><i class="fa fa-envelope text--icon"
                                        aria-hidden="true"></i></span>
                                <input type="text" name="email" class="c_input" value=""
                                    placeholder="Email (*)">
                            </div>
                            <div class="form-group c-form-border c-form-border--icon">
                                <span class="c_icon"><i class="fa fa-map-marker text--icon"
                                        aria-hidden="true"></i></span>
                                <input type="text" name="address" class="c_input" value=""
                                    placeholder="Địa chỉ">
                            </div>
                            <div class="form-group c-form-border c-form-border--icon">
                                <span class="c_icon c_icon--top"><i class="fa fa-info-circle text--icon"
                                        aria-hidden="true"></i></span>
                                <textarea name="content" class="c_input" rows="5"
                                    placeholder="Thông tin thêm"></textarea>
                            </div>
                            <div class="text-center"><button type="submit"
                                    class="c-btn--secondary">Gửi</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="s-home-32">
        <div class="container-fluid">
            <div class="b-sslide-default">
                <div class="slick-slider">
                    <div class="item"><a href="" rel="nofollow"><img
                                src="./uploads/images/2019/12/1577411682-single_hsub420-logo1.jpg"
                                alt="" /></a></div>
                    <div class="item"><a href="" rel="nofollow"><img
                                src="./uploads/images/2019/12/1577411682-single_hsub420-logo2.jpg"
                                alt="" /></a></div>
                    <div class="item"><a href="" rel="nofollow"><img
                                src="./uploads/images/2019/12/1577411682-single_hsub420-logo3.jpg"
                                alt="" /></a></div>
                    <div class="item"><a href="" rel="nofollow"><img
                                src="./uploads/images/2019/12/1577411682-single_hsub420-logo4.jpg"
                                alt="" /></a></div>
                    <div class="item"><a href="" rel="nofollow"><img
                                src="./uploads/images/2019/12/1577411682-single_hsub420-logo5.jpg"
                                alt="" /></a></div>
                    <div class="item"><a href="" rel="nofollow"><img
                                src="./uploads/images/2019/12/1577411682-single_hsub420-logo6.jpg"
                                alt="" /></a></div>
                    <div class="item"><a href="https://saigonhitech.vn/" rel="nofollow"><img
                                src="./uploads/images/2019/12/1577411682-single_hsub420-logo7.jpg"
                                alt="Saigon Hitech" /></a></div>
                </div>
            </div>
        </div>
    </div>