@page
@model SonQuangHuy.Pages_ColorTableManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên màu
            </th>
            <th>
                Màu
            </th>
            <th>
                Mã màu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ColorTable) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
            <td style="background-color: @item.ColorCode">
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
