@page
@model SonQuangHuy.Admin.BlogManager.IndexModel

@{
    ViewData["Title"] = "Quản lý bài viết";
}

<h1>Quản lý bài viết</h1>
<p>
    <a asp-page="Create">Thêm Bài viết</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tiêu đề
            </th>
            <th>
                Mô tả ngắn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if(Model.blogs.Count()>0)
        @foreach (var item in Model.blogs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>
     @if(Model.blogs.Count()==0){
        <p style="text-align:center">Chưa có bài viết nào</p>
     }
